<h1 style="text-align: center;">Welcome To<span style="color: rgb(232, 111, 42);">{{title}}</span></h1>

<p>{{this.data.wife}}</p>

<div [style.text-align]="center()"  [style.background-color]="colorfunction()">
<input  type="text" value="" placeholder="type something"> 
</div>
<!--1,2 -->

 <div  [style.text-align]="center()" >
  <p>hey there, {{name}}</p>
<button [style.margin-top]="margintop()" type="submit"(click)="clickf()">Show</button><br>
<button  (click)="hide()">Hide</button>
</div>
<!-- 3,4 -->

<div style="text-align:center">
  <h2>Count = {{count}}</h2>
  <p>{{count}}  {{type}}</p>
  <button type="button" (click)="decrement()">-</button>
  <button type="button" (click)="increment()">+</button>
</div>
<!-- 5 -->


<div style="margin-top: 1cm;">
  <input type="text" placeholder="type something" [(ngModel)]="input" >
  <button type="button"(click)="typeN()">show</button>
  <button type="button"(click)="hide2()">hide</button>
  <p>{{typeOF}}</p>
</div>
<!-- 6 -->

<div >
  <table >
    
    <th style="border: 2px solid black">Name</th>
    <th style="border: 2px solid black">Price</th>
    <tbody *ngFor="let i of fruits">
      <tr *ngIf="i.price >= 100">
        <td style="border: 1px solid black ">{{i.name}}</td>
        <td style="border: 1px solid black">{{i.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 7, 8 -->